# Logs
logs
*.log
# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory
coverage

# Dependency directories
node_modules/

# TypeScript v1 declaration files
typings/

# TypeScript cache
*.tsbuildinfo

# eslint cache
.eslintcache

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# local env files
.env*.local

# parcel-bundler cache (https://parceljs.org/)
.cache

# Next.js build output
.next

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

# misc
.DS_Store
*.pem

# vscode
/.vscode/

.env

# skip playwright testresults
test-results/